body {
    font-family: "Trebuchet MS";
}

.card, .set, img {
    margin: 0;
    padding: 0;
}

.count {
    margin-left: 4em;
    font-size: 12pt;
}

img {
    display: block;
    width: 120px;
    height: auto;
}

.card {
    display: inline-block;
    font-size: 10pt;
    text-align: center;
    padding: 2px 2px 0.5em;
}

h2 {
    display: inline-block;
    font-size: 18pt;
    margin: 0 0 0.2em;
}

.complete h2 {
    color: #777;
}
.complete .count {
    color: green;
}
.complete .count::after {
    content: " ✓";
}

.set, #buttons {
    display: block;
    padding-bottom: 20px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
}

.set {
    font-size: 0;
}

.card {
    position: relative;
}

.card input {
    position: absolute;
    top: 0;
    right: 0;
}

.card input:checked + label > img {
    opacity: 0.5;
}
.card input:checked + label::after {
    content: "✓";
    font-size: 60pt;
    position: absolute;
    bottom: 5%;
    left: 55%;
    margin-left: -25%;
}

.card.color_w input:checked + label::after {
    color: #FEFFF9;
    text-shadow:
       -1px -1px 0 #DACD77,
        1px -1px 0 #DACD77,
       -1px  1px 0 #DACD77,
        1px  1px 0 #DACD77;
}
.card.color_u input:checked + label::after {
    color: #A4BBE5;
    text-shadow:
       -1px -1px 0 #19519B,
        1px -1px 0 #19519B,
       -1px  1px 0 #19519B,
        1px  1px 0 #19519B;
}
.card.color_b input:checked + label::after {
    color: #9B9293;
    text-shadow:
       -1px -1px 0 #180F10,
        1px -1px 0 #180F10,
       -1px  1px 0 #180F10,
        1px  1px 0 #180F10;
}
.card.color_r input:checked + label::after {
    color: #EC9061;
    text-shadow:
       -1px -1px 0 #D2272D,
        1px -1px 0 #D2272D,
       -1px  1px 0 #D2272D,
        1px  1px 0 #D2272D;
}
.card.color_g input:checked + label::after {
    color: #C4DCBA;
    text-shadow:
       -1px -1px 0 #0A6B36,
        1px -1px 0 #0A6B36,
       -1px  1px 0 #0A6B36,
        1px  1px 0 #0A6B36;
}
