body {
    font-family: "Trebuchet MS", sans-serif;
    font-variant: small-caps;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#toc ul {
    font-size: 0;
    padding: 0;
}

#toc li {
    font-size: 8pt;
    display: inline-block;
    margin: 4px;
    vertical-align: top;
    position: relative;
}

#toc a {
    display: block;
    border: 1px solid black;
    text-align: center;
    padding: 4px;
}

#toc .complete a {
    border-color: green;
}

#toc .complete .meter {
    background-color: lightgreen;
}

#toc .ss {
    display: inline-block;
    color: black;
    font-size: 24pt;
    margin-bottom: 4px;
}

.meter {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    background-color: lightgray;
}

.top_link {
    font-size: 18pt;
    float: right;
}

.card, .set, .img {
    margin: 0;
    padding: 0;
}

.set .count {
    margin-left: 4em;
    font-size: 12pt;
}

.img {
    display: block;
    width: 140px;
    height: 195px;
}

h2 {
    display: inline-block;
    font-size: 22pt;
    margin: 0;
}

h3 {
    display: inline-block;
    font-size: 18pt;
    margin: 0;
}

h3 .ss {
    font-size: 24pt;
    vertical-align: middle;
}

.toggle {
    font-size: 14pt;
    float: left;
    margin: 4px 12px 4px 6px;
    margin-right: 12px;
    color: blue;
    cursor: pointer;
    transition: transform 200ms;
}

.collapse {
    clear: both;
}

.collapsed > .collapsible_header > .toggle {
    transform: rotate(-90deg);
}

.complete h3 {
    color: #777;
}
.complete .count {
    color: green;
}
.set.complete .count::after {
    content: " ✓";
}

#buttons, #toc {
    padding-bottom: 20px;
}

#buttons, #toc {
    margin-bottom: 20px;
}

.group, .set {
    margin-bottom: 10px;
}

.collapsible_header {
    padding: 4px 4px 4px 4px;
}

.collapsible_content {
    padding: 0 4px 4px 4px;
}

.group {
    border: 3px double black;
}

.set {
    font-size: 0;
    border: 1px solid black;
    margin-left: 12px;
    margin-right: 12px;
}

#buttons, #toc {
    border-bottom: 3px solid black;
}

.card {
    display: inline-block;
    font-size: 10pt;
    text-align: center;
    padding: 2px;
    position: relative;
}

.card.color_w .img {background-image: url(card_sheets/W.jpg);}
.card.color_u .img {background-image: url(card_sheets/U.jpg);}
.card.color_b .img {background-image: url(card_sheets/B.jpg);}
.card.color_r .img {background-image: url(card_sheets/R.jpg);}
.card.color_g .img {background-image: url(card_sheets/G.jpg);}
.card.color_c .img {background-image: url(card_sheets/C.jpg);}

.card input {
    position: absolute;
    top: 0;
    right: 0;
}

.card input:checked + label > .img {
    opacity: 0.5;
}
.card input:checked + label::after {
    content: "✓";
    font-size: 60pt;
    position: absolute;
    bottom: 5%;
    left: 55%;
    margin-left: -25%;
}

.card.color_w input:checked + label::after {
    color: #FEFFF9;
    text-shadow:
       -1px -1px 0 #DACD77,
        1px -1px 0 #DACD77,
       -1px  1px 0 #DACD77,
        1px  1px 0 #DACD77;
}
.card.color_u input:checked + label::after {
    color: #A4BBE5;
    text-shadow:
       -1px -1px 0 #19519B,
        1px -1px 0 #19519B,
       -1px  1px 0 #19519B,
        1px  1px 0 #19519B;
}
.card.color_b input:checked + label::after {
    color: #9B9293;
    text-shadow:
       -1px -1px 0 #180F10,
        1px -1px 0 #180F10,
       -1px  1px 0 #180F10,
        1px  1px 0 #180F10;
}
.card.color_r input:checked + label::after {
    color: #EC9061;
    text-shadow:
       -1px -1px 0 #D2272D,
        1px -1px 0 #D2272D,
       -1px  1px 0 #D2272D,
        1px  1px 0 #D2272D;
}
.card.color_g input:checked + label::after {
    color: #C4DCBA;
    text-shadow:
       -1px -1px 0 #0A6B36,
        1px -1px 0 #0A6B36,
       -1px  1px 0 #0A6B36,
        1px  1px 0 #0A6B36;
}
